.dabba{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px solid rgba(248, 28, 28,0.2);
    padding: 10px;
    
}
div{
   background-image:url("tanu.png")
}